:root {
    --headings: #0d3b66;

}


/* fADE IN ANIMATION */

.fade-in {
    opacity: 0;
    transition: all 0.8s ease;
}

.fade-in.left {
    transform: translateX(-20px);
}

.fade-in.right {
    transform: translateX(20px);
}

.fade-in.show {
    opacity: 1;
    transform: translateX(0);
}

.fade-in.scale {
    opacity: 0;
    transform: scale(0.85);
    transition: all 0.8s ease
}

.fade-in.scale.show {
    opacity: 1;
    transform: scale(1);
}


@keyframes shake {

    0%,
    100% {
        transform: translateY(0);
    }

    20%,
    60% {
        transform: translateY(-18px);
    }

    40%,
    80% {
        transform: translateY(18px);
    }
}


/* homepage styles  */
.cont2 {
    width: 86%;
    padding-top: clamp(24px, 5vw, 48px);
    padding-bottom: 20px;
}

.cont3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}


.h1-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.h1-left h1 {
    font-size: clamp(23px, 5vw, 48px);
    font-weight: 700;
    color: var(--headings);
    text-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
}

html.dark .h1-left h1 {
    color: #ffffff;
}

.h1-left h1 {
    animation: shake 10s;
}

.h1-left div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    max-width: 590px;
}

.h1-left p {
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 500;
    color: #5d6168;
    line-height: 28px;
}

html.dark .h1-left p {
    color: #ffffffcc;
}

.mail-btns {
    display: flex;
}

.mail-btns a {
    width: 21px;
    height: 21px;
}

.mailBtn {
    color: black;

}

html.dark .mailBtn {
    color: #ffffffcc;
}

.h1-right img {
    width: 100%;
    max-width: 420px;
    height: auto;
    border-radius: 20%;
}

.cont4 {
    width: 100%;
    display: flex;
    gap: 100px;
    align-items: center;
    margin-top: 80px;
}

.cont4 img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 20%;
}

.cont4 div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont4 h1 {
    font-size: clamp(21px, 5vw, 27px);
    font-weight: 700;
    color: var(--headings);
    margin-bottom: 15px;
}

html.dark .cont4 h1 {
    color: #ffffff;
}

.cont4 ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont4 li {
    font-size: clamp(12.5px, 4vw, 16.4px);
    font-weight: 500;
    color: #626466;
    line-height: 28px;
}

html.dark .cont4 li {
    color: #ffffffcc;
}

.cont5 {
    width: 100%;
    margin-top: 70px;
}

.cont5 h1 {
    font-size: clamp(21px, 5vw, 31px);
    font-weight: 700;
    color: var(--headings);
}

html.dark .cont5 h1 {
    color: #ffffff;
}

.cont5 .exp-content1 {
    margin-top: 14px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.cont5 .exp-content1 div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
}

.cont5 img {
    width: 100%;
    max-width: 80px;
    height: auto;
}

.exp-title {
    color: #0d3b66;
    font-weight: 500;
    font-size: 16px;
}

html.dark .exp-title {
    color: #ffffff;
}

.exp-header {
    color: #5c5c5c;
    font-weight: 400;
    font-size: 14px;
}

html.dark .exp-header {
    color: #ffffffcc;
}

.cont5 .exp-content1 div ul {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 900px;
}

.cont5 .exp-content1 div ul li {
    color: #45484b;
    line-height: 25px;
    font-size: clamp(12.5px, 2vw, 14.1px);
}

html.dark .cont5 .exp-content1 div ul li {
    color: #ffffffcc;
}

.hr {
    color: gray;
    opacity: 0.4;
    width: 100%;
    max-width: 968px;
    margin-top: 20px;
}

.cont6 {
    width: 100%;
    margin-top: 50px;
}

.cont6 h1 {
    font-size: clamp(26px, 5vw, 38px);
    font-weight: 700;
    color: var(--headings);
}

html.dark .cont6 h1 {
    color: #ffffff;
}
.card-cont {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    flex-shrink: 0;
    overflow-x: scroll;
    padding-bottom: 16px;
}



.card {
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgba(173, 169, 169, 0.18);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
    padding-bottom: 6px;
}

html.dark .card {
    background-color: #15161a;
}



.card img {
    width: 100%;
    aspect-ratio: 21 / 9;
    object-fit: cover;
    padding: 6px 6px;
    border-radius: 12px;
}

.card-span1 {
    color: #5e5e5e;
    font-size: 14px;
    padding-left: 8px;
}

html.dark .card-span1 {
    color: #ffffffcc;
}

.card-span2 {
    color: #7c7c7c;
    font-size: 12px;
    padding-left: 8px;
}

html.dark .card-span2 {
    color: #ffffffcc;
}


/* Webkit browsers (Chrome, Edge, Safari) */
.card-cont::-webkit-scrollbar {
    height: 8px; /* horizontal scrollbar height */
}

.card-cont::-webkit-scrollbar-track {
    background: #e0e0e0; /* light grey track = visible bar */
    border-radius: 10px;
}

.card-cont::-webkit-scrollbar-thumb {
    background: grey; /* thumb color */
    border-radius: 10px;
}



/* MEDIA QUERIES */

@media (max-width: 250px) {
    .cont2 {
        width: 92%;
    }

}

@media (max-width: 1200px) {
    .cont3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
    }

    .h1-left div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 900px;
    }

    .h1-right img {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: 20%;
    }

}

@media (max-width: 1200px) {
    .cont4 {
        width: 100%;
        display: flex;
        gap: 0px;
        align-items: flex-start;
        margin-top: 70px;
    }

    .cont4 img {
        display: none;
    }


}